<div class="table-responsive" style='padding-top: 70px;'>
    <div class="panel">
        <div class="row">
            <div class="col-xs-6 col-sm-4">WOW Motorcycles hours of operation Tuesday-Friday 9:30am-6:00pm Saturday 9:30am-5:00pm Closed on Sunday and Monday</div>
            <div
            class="col-xs-6 col-sm-4">
                <img src="http://www.wowmotorcycles.com/imgs/contact_right_img.png" class="img-thumbnail"></img>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="https://www.google.com/maps/dir/Current+Location/33.963706,-84.530814"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Directions</a>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Sales</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Mike Puntey</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Mike.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>James Freeman</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/James.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Fred Buzzard</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Fred.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Melvin Diaz</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Melvin.jpg" />
                                    </div>
                                </div>
                            </div></div><div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Jay Strozier</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Service/Jason_S.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Logistics</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Mike</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Mike.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Accessories</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Mike</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Mike.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Service</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Mike</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Mike.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Buyers</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="panel-image">
                                    <div class="wrapper">
                                        <div class='description'>
                                            <p class='description_content'>Mike</p>
                                        </div>
                                        <img src="http://www.wowmotorcycles.com/Images/Portraits/Sales/Mike.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</table>
</div>