
      <div class="row" style="padding-top:'-70px';">  
                  <div class="wrapper">
                <a href="#/searchInit/sports">
            <div class='descLogo'>
                <p class='description_content'>
                  <img ng-src="/images/harley-davidson.png" class="img-responsive" style="width:20%">
                </p>
              </div>    
          <img src="http://www.wowmotorcycles.com/imgs/big_ad/allmotorcycles.jpg" class="img-responsive"></a>
            </div>   
  
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4">
      <img ng-src="/images/bmw.png" class="img-responsive" style="width:60%"> 
      </div> 
        <div class="col-md-4 col-xs-4">
          <img ng-src="/images/ducati.png" class="img-responsive" style="width:60%">  
      </div>       
          <div class="col-md-4 col-xs-4">
      <img ng-src="/images/honda.png" class="img-responsive" style="width:60%"> 
      </div>  
      </div>
  
      <div class="row">
      <div class="col-md-4 col-xs-4">
      <img ng-src="/images/suzuki.png" class="img-responsive" style="width:60%"> 
      </div>  
       <div class="col-md-4 col-xs-4">
      <img ng-src="/images/kawasaki.png" class="img-responsive" style="width:60%"> 
      </div>  
       <div class="col-md-4 col-xs-4">
      <img ng-src="/images/yamaha.png" class="img-responsive" style="width:60%"> 
      </div>  
    </div>
     
      <div class="row">
      <div class="col-md-4 col-xs-4">
      <img ng-src="/images/victory.png" class="img-responsive" style="width:60%"> 
      </div>  
       <div class="col-md-4 col-xs-4">
      <img ng-src="/images/indian.png" class="img-responsive" style="width:60%"> 
      </div>  
       <div class="col-md-4 col-xs-4">
      <span class="fa fa-search fa-2x" style="color:blue">All Makes</span> 
      </div>  
    </div>
        
    <div class="row"></div>
    <div class="row"> 
            <div class="wrapper">
                <a href="#/searchInit/sports">
            <div class='description'>
                <p class='description_content'>
                  <font> SPORTS BIKES</font>
                </p>
              </div>    
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/sport.jpg" class="img-responsive" style="width:100%"></a>
            </div>
       </div>
        <div class="row"> 
            <div class="wrapper">
                 <a href="#/searchInit/cruise">
              <div class='description'>
                <p class='description_content'>
                  <font> CRUISE BIKES </font>
                </p>
              </div>   
         
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/cruise.jpg" class="img-responsive">
            </div>
        </div>

        <div class="row"> 
 
                        <div class="wrapper">
               <a href="#/searchInit/tour">
              <div class='description'>
                <p class='description_content'>
                  <font> TOUR BIKES  </font>
                </p>
              </div>  
            
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/tour.jpg" class="img-responsive">
            </div></div>
        <div class="row"> 
          <div class="wrapper">
            <a href="#/searchInit/sports">
              <div class='description'>
                <p class='description_content'>
                  <font> DUAL BIKES</font>
                </p>
              </div>             
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/dual.jpg" class="img-responsive">
            </div>            
        </div>

 
           