
<div class="table" style="text-align:center">
    <div class="row"> 
        <div class="col-md-6 col-xs-6">
            <div class="wrapper">
                <a href="#/searchInit/sports">
            <div class='desc'>
                <p class='description_content'>
                  <font> SPORTS BIKES</font>
                </p>
              </div>    
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/sport.jpg" class="img-responsive" style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 nopadding"> 
            <div class="wrapper">
                 <a href="#/searchInit/cruise">
              <div class='desc'>
                <p class='description_content'>
                  <font> CRUISE BIKES </font>
                </p>
              </div>   
         
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/cruise.jpg" class="img-responsive">
            </div>
        </div>
    </div>

        <div class="row"> 
        <div class="col-md-6 col-xs-6">  
                        <div class="wrapper">
               <a href="#/searchInit/tour">
              <div class='desc'>
                <p class='description_content'>
                  <font> TOUR BIKES  </font>
                </p>
              </div>  
            
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/tour.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-6 col-xs-6"> 
          <div class="wrapper">
            <a href="#/searchInit/sports">
              <div class='desc'>
                <p class='description_content'>
                  <font> DUAL BIKES</font>
                </p>
              </div>             
            <img src="http://www.wowmotorcycles.com/imgs/big_ad/dual.jpg" class="img-responsive">
            </div>            
        </div>
    </div>
    <div class="row" style="padding-top:'-70px';">     
    <img src="http://www.wowmotorcycles.com/imgs/big_ad/allmotorcycles.jpg" class="img-responsive">
    </div>
    <div class="storebox"></div>
 </div>
           