            <div class="jumbotron" >
            <div class="container">
                <form class="form-horizontal" ng-submit="submit()">
                      <div class="form-group">
                                <label >Make: </label>
                           <select  ng-model="selectedBike" ng-options="bike.make for bike in bikes| unique:'make'" class="form-control">
                                <option value=''>Select</option>
                            </select>
                       </div>
                        <div class="form-group">
                                <label >Model: </label>
                           <select  ng-model="selectedModel" ng-options="bike.model for bike in bikes |filter:{model:selectedBike.model}" class="form-control">
                                <option value=''>Select</option>
                            </select>
                       </div>
                       <div class="form-group form-inline">
                                <label >price Range: </label>
                                <input type="number" class="form-control" placeholder="Min Price" min=0 ng-model="minPrice" step=100> 
                                <input type="number" class="form-control" placeholder="Max price" min="{{minPrice+100}}" ng-model="maxPrice" step=100>
                       </div>
                       <div class="form-group">
                            <button type="submit" class="btn wow-btn btn-sm btn-block"><b style="color:white">Search</b></button>
                       </div>                   
              
                </form>
            </div>
            </div>