  <div class="table-responsive">
  <table class="table-condensed">
    <thead>
        <tr>
            <th ng-click="changeSorting('refid')">Vehicle</th>
            <th ng-click="changeSorting('Make')">Make</th>
           <th ng-click="changeSorting('model')">Model</th>
            <th ng-click="changeSorting('CC')">cc</th>
            <th ng-click="changeSorting('miles')">miles</th>            
            <th ng-click="changeSorting('price')">Price</th>
        </tr>
      <tr ng-repeat="bike in bikeData | orderBy:sort.column:sort.descending">
        <td class="col-md-2"><img src="http://www.wowmotorcycles.com/productimages/thumb_{{bike.refid}}.jpg"/></td>
        <td class="col-sm-3">{{bike.make}}</td>
        <td class="col-sm-3">{{bike.model}}</td>
        <td class="col-sm-3">{{bike.CC}}</td>
        <td class="col-sm-3">{{bike.miles}}</td>
        <td class="col-sm-3">{{bike.price}}</td>
    </tr>
    </thead>
</table>
</div>