<div class="container">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why Sell it to
                        WOW</a>
                </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="cok-md-8 col-xs-8 col-sm-8">
                                <p>
                                    When trading or selling a vehicle to WOW you know that a fair price will be paid for your vehicle.
                                </p>
                                <p>
                                    No ads to place, no phone calls to deal with and no potentially risky transactions for you.
                                </p>
                                <p>
                                    Just bring your bike by for an inspection and leave with payment in hand.
                                </p>
                            </div>
                            <div class="cok-md-4 col-xs-4 col-sm-4">
                                <div class="panel-image">
                                    <img src="http://www.wowmotorcycles.com/imgs/sideimg_whywellittowow.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cok-md-10 col-xs-10 col-sm-10">
                                <p>
                                    If you are interested in trading or selling your motorcycles please give us an opportunity to buy your bike from you.
                                </p>
                                <p>
                                    A good majority of our bikes come from repeat customer trade ins and that helps give new buyers peace of mind knowing that
                                    so many people are willing to come back time after time to keep trading up, down and
                                    over with WOW Motorcycles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Sell Process</a>
                </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="cok-md-8 col-xs-8 col-sm-8">
                                <p>
                                    Things to know if you want to sell or trade your bike to WOW Motorcycles.</p>
                                <p>
                                    <ol>
                                        <li>All purchases and trades are subject to inspection for final value.</li>
                                        <li>Title must be in your name to sell the bike</li>
                                        <li>Any lien holder information must be disclosed prior to final purchase</li>
                                        <li>WOW prefers NO salvage or rebuilt title vehicles.</li>
                                        <li>
                                            Must show valid photo ID to sell vehicle</li>
                                </p>
                                <p>
                                    </ol>
                                </p>
                            </div>
                            <div class="cok-md-4 col-xs-4 col-sm-4">
                                <div class="panel-image">
                                    <img src="http://www.wowmotorcycles.com/imgs/sideimg_sellprocess.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cok-md-10 col-xs-10 col-sm-10">
                                <p>
                                    All vehicles have to go through a thorough inspection prior to purchase.</p>
                                <p>
                                    The title must be evaluated or if there is a lien holder, the payoff must be verified.</p>
                                <p>
                                    Please allow 30 - 60 minutes for the entire process.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Pick Up</a>
                </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="cok-md-8 col-xs-8 col-sm-8">
                                <p>
                                    TIn the event you are unable to bring the vehicle to us, we may be able to come to you.</p>
                                <p>
                                    Since WOW Motorcycles has one of the largest networks of buyers across the country we are able to cover most areas of the
                                    nation with someone who can come and evaluate your bike.
                                </p>
                            </div>
                            <div class="cok-md-4 col-xs-4 col-sm-4">
                                <div class="panel-image">
                                    <img src="http://www.wowmotorcycles.com/imgs/sideimg_pickup.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">get Quote</a>
                    </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="cok-md-10 col-xs-10 col-sm-10">
                                    <div ng-show="isMailNotSent">
                                        <form class="form-horizontal" role="form" ng-submit="submit()">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="senderEmail">
                                                    From Email:</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" ng-model="senderEmail" placeholder="Enter email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="Name">
                                                    Name:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="name" placeholder="Enter First Name LastName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="phNo">
                                                    Phone No:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="phNo" placeholder="Enter Phone Number">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="year">
                                                    Year:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="year" placeholder="Bike Year">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="make">
                                                    Bike Make:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="make" placeholder="Bike Make">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="model">
                                                    Bike Model:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="model" placeholder="Bike Make">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="miles">
                                                    Miles:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="miles" placeholder="Miles">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="price">
                                                    Asking Price:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" ng-model="price" placeholder="price">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">
                                                    Contact Preference:</label>
                                                <div class="col-sm-10">
                                                    <label>
                                                        <input type="radio" ng-model="contactPreference.name" value="Email"> Eamil
                                                    </label>
                                                    <br/>
                                                    <label>
                                                        <input type="radio" ng-model="contactPreference.name" value="Phone"> Phone
                                                    </label>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="comment">
                                                    Comments:</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="5" ng-model="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">
                                                        Send Mail</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- when $scope.myValue is falsy (element is hidden) -->
                                    <div ng-hide="isMailNotSent">
                                        <p>
                                            Quote Submitted. You will be contacted by our support team. Thanks for choosing WOW.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>