  <div class="container" style='padding-top: 70px;' >
      <div class="row"><div class="col-xs-12"><p>
        When trading or selling a vehicle to WOW you know that a fair price will be paid for your vehicle.
No ads to place, no phone calls to deal with and no potentially risky transactions for you.
Just bring your bike by for an inspection and leave with payment in hand.
If you are interested in trading or selling your motorcycles please give us an opportunity to buy your bike from you.
A good majority of our bikes come from repeat customer trade ins and that helps give new buyers peace of mind knowing that so many people are willing to come back time after time to keep trading up, down and over with WOW Motorcycles.
    </p></div> </div>
  
</div>